h1,
.recipe-name {
  font-family: "Courier New", "Lucida Console", "Monaco", monospace;
  font-weight: bold;
  font-size: 36px;
}

#title {
    font-size: 48px;
}

body {
    font-family: "Courier New", "Lucida Console", "Monaco", monospace;
    background-color: rgb(163, 255, 224);
}

.recipe-photo {
    width: 500px;
    height: auto;
}